@import 'https://fonts.googleapis.com/css?family=Open+Sans';
/*Variables*/
section.team div.row1 .col .people {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 80px 20px;
  border-radius: 50%;
  background-color: #999999;
  text-align: center; }

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  * ::-moz-selection {
    background-color: #00c7e8;
    color: #FFF; }
  * ::selection {
    background-color: #00c7e8;
    color: #FFF; }

body {
  margin: 0px; }
  body input, body label {
    display: none; }

/* __________NAV STYLE_____________*/
nav.row:before,
nav.row:after {
  content: " ";
  display: table; }

nav.row:after {
  clear: both; }

nav.container {
  max-width: 1926px;
  display: table;
  width: 100%;
  margin: 0;
  background-color: #313332;
  height: 113px;
  border-top: 1px solid #81807c; }
  nav.container .img > img {
    position: absolute;
    top: 41.5px;
    right: initial;
    bottom: initial;
    left: 8%;
    height: auto;
    width: 150px;
    cursor: pointer; }
  nav.container ul.nav {
    display: block;
    float: right;
    width: 50%;
    margin: 0 5% 0 0; }
    nav.container ul.nav li {
      display: inline-block;
      list-style: none;
      width: calc(100% / 7);
      text-align: center; }
      nav.container ul.nav li a {
        display: inline-block;
        height: 113px;
        width: 100%;
        padding: 0 2%;
        line-height: 113px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Open Sans";
        font-size: 1rem;
        font-weight: 700;
        color: white; }
        nav.container ul.nav li a:hover {
          color: #00c7e8; }

/*______________SECTION HERO_________________*/
section.hero {
  display: table;
  max-width: 1926px;
  width: 100%;
  height: 600px;
  border-bottom: 1px solid #d5d0ca;
  background: #000 url("https://hd.unsplash.com/photo-1467521335787-2f0fc0f0e9a0") 0/cover no-repeat;
  background-position: top left;
  background-attachment: fixed;
  position: relative; }
  section.hero:before, section.hero:after {
    content: " ";
    display: table; }
  section.hero:after {
    clear: both; }
  section.hero .slogan {
    position: absolute;
    top: 180px;
    right: 0;
    bottom: initial;
    left: initial;
    width: 40%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.55);
    margin: 0; }
    section.hero .slogan h1 {
      display: inline-block;
      line-height: 2.1rem;
      font-family: "Open Sans";
      font-size: 2.2rem;
      font-weight: normal;
      color: #FFF;
      text-transform: uppercase;
      margin-left: 10%;
      margin-top: 5%; }
      section.hero .slogan h1 span {
        font-weight: 900; }
  section.hero .pagination {
    position: absolute;
    top: 85%;
    right: initial;
    bottom: initial;
    left: calc(50% - 250px/2);
    width: 250px;
    height: 70px;
    text-align: center;
    border: 3px solid rgba(0, 0, 0, 0.2); }
    section.hero .pagination:hover {
      border: 3px solid #00c7e8; }
    section.hero .pagination [class*="ball-"] {
      display: inline-block;
      width: 30px;
      height: 30px;
      padding: 0px;
      margin: 20px;
      border-radius: 50%;
      border: 2px solid #FFF;
      cursor: pointer; }
      section.hero .pagination [class*="ball-"]:hover {
        border: 3px solid #00c7e8; }
    section.hero .pagination .active {
      background-color: #FFF; }

/*______________SECTION ADVENTAGE_________________*/
section.advantage {
  height: 500px;
  max-width: 1926px;
  width: 100%;
  margin: 0; }
  section.advantage:before, section.advantage:after {
    content: " ";
    display: table; }
  section.advantage:after {
    clear: both; }
  section.advantage .common {
    height: 400px;
    width: 100%;
    margin: 100px auto 0;
    text-align: center;
    cursor: pointer; }
    section.advantage .common:before, section.advantage .common:after {
      content: "";
      display: table; }
    section.advantage .common:after {
      clear: both; }
    section.advantage .common [class*="desc"] {
      display: inline-block;
      width: calc(90% / 3);
      padding: 3.33%; }
      section.advantage .common [class*="desc"]:hover > h2 {
        color: #00c7e8; }
      section.advantage .common [class*="desc"]:hover i.fa {
        background-color: #00c7e8;
        -webkit-transform: scale(1.1, 1.1);
                transform: scale(1.1, 1.1); }
      section.advantage .common [class*="desc"] h2 {
        font-family: "Open Sans";
        font-size: 1rem;
        font-weight: bold;
        color: #313332;
        letter-spacing: .2rem;
        text-transform: uppercase;
        white-space: nowrap; }
      section.advantage .common [class*="desc"] p {
        font-family: "Open Sans";
        font-size: 0.8rem;
        font-weight: normal;
        color: #313332;
        line-height: 1.2rem; }
    section.advantage .common i.fa {
      font-size: 4rem;
      line-height: 8rem;
      color: white;
      display: inline-block;
      width: 120px;
      height: 120px;
      background-color: #313332;
      border-radius: 10px;
      cursor: pointer; }

/*______________SECTION HEADING_________________*/
section.heading {
  max-width: 1926px;
  width: 100%;
  height: 200px; }
  section.heading:before, section.heading:after {
    content: " ";
    display: table; }
  section.heading:after {
    clear: both; }
  section.heading .pos-center {
    width: 80%;
    margin: 0 auto;
    text-align: center; }
    section.heading .pos-center h1 {
      font-family: "Open Sans";
      font-size: 2.5rem;
      font-weight: 900;
      color: #313332;
      text-transform: uppercase; }
      section.heading .pos-center h1:hover {
        color: #00c7e8; }
    section.heading .pos-center p {
      font-family: "Open Sans";
      font-size: 1rem;
      font-weight: 500;
      color: #313332;
      line-height: 1.2rem; }

/*______________SECTION GALLERY_________________*/
section.gallery {
  max-width: 1926px;
  width: 100%;
  height: 400px;
  margin: 0; }
  section.gallery .container {
    display: table;
    text-align: center;
    height: 200px;
    width: 100%;
    line-height: 0; }
    section.gallery .container:before {
      content: " ";
      display: table; }
    section.gallery .container:after {
      clear: both; }
    section.gallery .container .layer {
      position: relative;
      display: inline-block;
      text-align: center;
      height: 200px;
      width: calc(100% / 5);
      max-width: 200px; }
      section.gallery .container .layer > img {
        width: 100%;
        height: 100%; }
      section.gallery .container .layer .icon-container {
        position: absolute;
        top: 0;
        right: initial;
        bottom: initial;
        left: initial;
        display: block;
        height: 100%;
        width: 100%;
        max-width: 200px;
        text-align: center; }
        section.gallery .container .layer .icon-container:hover .fa:hover {
          color: #00c7e8;
          -webkit-transform: scale(1.5, 1.5);
                  transform: scale(1.5, 1.5); }
        section.gallery .container .layer .icon-container:hover {
          background-color: rgba(0, 0, 0, 0.5); }
        section.gallery .container .layer .icon-container:hover i.fa {
          opacity: 1;
          cursor: pointer; }
        section.gallery .container .layer .icon-container i.fa {
          opacity: 0;
          display: inline-block;
          width: 50px;
          height: 50px;
          color: rgba(0, 0, 0, 0.8);
          background-color: white;
          font-size: 2rem;
          line-height: 2.7rem;
          border-radius: 5px;
          margin-right: 5px;
          margin-top: calc(50% - 25px);
          vertical-align: 0%; }
          section.gallery .container .layer .icon-container i.fa:hover {
            color: #00c7e8;
            -webkit-transform: scale(1.5, 1.5);
                    transform: scale(1.5, 1.5); }

/*______________SECTION TEAM_________________*/
section.team {
  width: 100%;
  height: 360px; }
  section.team div.row1 {
    width: 100%;
    height: inherit;
    margin: 0 auto;
    text-align: center; }
    section.team div.row1:before, section.team div.row1:after {
      content: "";
      display: table; }
    section.team div.row1:after {
      clear: both; }
    section.team div.row1 .col {
      float: left;
      width: 25%;
      height: inherit;
      margin: 0 auto; }
      section.team div.row1 .col .people:hover div.function {
        opacity: 1; }
      section.team div.row1 .col .people:hover h2 {
        color: #00c7e8; }
      section.team div.row1 .col .people:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.7); }
      section.team div.row1 .col .people h2 {
        margin-top: 220px;
        font-family: "Open Sans";
        font-size: 1rem;
        font-weight: bold;
        color: #313332;
        text-transform: uppercase; }
      section.team div.row1 .col .people div.function {
        opacity: 0;
        margin-top: -170px;
        font-family: "Open Sans";
        font-size: 1rem;
        font-weight: bold;
        color: #00c7e8; }

/*______________SECTION DESCRIPTION_________________*/
section.description {
  display: table;
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 0; }
  section.description:before, section.description:after {
    content: " ";
    display: table; }
  section.description:after {
    clear: both; }
  section.description .container {
    width: 100%;
    height: 300px;
    margin: 0 auto; }
  section.description .row {
    width: 100%;
    height: 300px; }
    section.description .row [class*="col"] {
      height: 300px;
      padding: 0;
      margin: 0; }
    section.description .row .col1 {
      float: left;
      width: 30%;
      background-color: #838584; }
      section.description .row .col1 div.fot1 {
        width: 100%;
        height: 300px;
        display: block;
        background: #838584;
        background-image: url("http://i.istockimg.com/image-zoom/20783083/3/265/380/stock-photo-20783083-a-woman-holding-a-mobile-phone.jpg");
        background-size: 30%;
        background-repeat: no-repeat;
        background-position: center right; }
    section.description .row .col2 {
      float: left;
      width: 70%;
      height: 300px;
      background-color: #797b7a; }
      section.description .row .col2 .sub-row {
        width: 100%;
        height: 300px;
        overflow: hidden; }
        section.description .row .col2 .sub-row .sub-col1 {
          float: left;
          width: 70%;
          height: 200px;
          padding: 0 10%; }
          section.description .row .col2 .sub-row .sub-col1 p {
            font-family: "Open Sans";
            font-size: 0.9rem;
            font-weight: normal;
            color: #FFF;
            margin-top: 0;
            line-height: 1.5rem;
            overflow: hidden;
            text-overflow: ellipsis; }
        section.description .row .col2 .sub-row .sub-col2 {
          float: left;
          width: 30%;
          height: 200px;
          padding: 0 5% 0 0; }
          section.description .row .col2 .sub-row .sub-col2 p {
            font-family: "Open Sans";
            font-size: 0.9rem;
            font-weight: normal;
            color: #FFF;
            margin-top: 0;
            line-height: 1.5rem;
            overflow: hidden;
            text-overflow: ellipsis; }
        section.description .row .col2 .sub-row h1 {
          font-family: "Open Sans";
          font-size: 1.5rem;
          font-weight: 900;
          color: #FFF;
          margin-left: 10%;
          margin-top: 4%;
          text-transform: uppercase;
          font-size: 1.5rem; }

/*______________SECTION NUMBERS_________________*/
section.numbers {
  display: table;
  width: 100%;
  height: auto;
  margin: 0 auto; }
  section.numbers .row {
    width: 100%;
    height: 200px;
    text-align: center;
    margin: 0 auto; }
    section.numbers .row .col {
      float: left;
      width: 25%;
      height: 200px; }
      section.numbers .row .col:before, section.numbers .row .col:after {
        content: " ";
        display: table; }
      section.numbers .row .col:after {
        clear: both; }
      section.numbers .row .col h1 {
        font-family: "Open Sans";
        font-size: 2.5rem;
        font-weight: normal;
        color: #313332;
        text-transform: uppercase;
        margin-top: 15%;
        margin-bottom: 1%; }
      section.numbers .row .col h2 {
        font-family: "Open Sans";
        font-size: 1rem;
        font-weight: bold;
        color: #00c7e8;
        text-transform: uppercase; }

/*______________FOOTER_________________*/
footer {
  width: 100%;
  height: auto; }
  footer [class*="row"]:before,
  footer [class*="row"]:after {
    content: " ";
    display: table; }
  footer [class*="row"]:after {
    clear: both; }
  footer p {
    padding-top: 20px;
    color: white;
    font-family: "Open Sans";
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 0; }
  footer div.row1 {
    display: table;
    width: 100%;
    height: 300px;
    margin: 0 auto; }
    footer div.row1 .col {
      float: left;
      width: calc(100% / 3);
      height: 300px;
      padding: 3% 3% 0 3%;
      position: relative;
      background-color: #313332; }
      footer div.row1 .col .left {
        display: inline-block;
        width: 40%; }
      footer div.row1 .col .right {
        display: inline-block;
        width: 40%;
        height: 2px;
        margin-top: 10px;
        background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 199, 232, 0.65) 100%);
        background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 199, 232, 0.65) 100%); }
      footer div.row1 .col .allrow {
        width: 100%;
        height: auto; }
      footer div.row1 .col span {
        margin: 0px 0px 0px 10px;
        color: white; }
      footer div.row1 .col h2 {
        color: white;
        font-family: "Open Sans";
        text-transform: uppercase;
        font-size: 1rem; }
      footer div.row1 .col p {
        margin-top: 0;
        color: white;
        font-family: "Open Sans";
        font-size: 1rem;
        line-height: 1.2rem; }
    footer div.row1 div.sub .left {
      display: inline-block;
      width: 40%; }
    footer div.row1 div.sub .right {
      display: inline-block;
      width: 40%;
      height: 2px;
      margin-top: 10px;
      background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 199, 232, 0.65) 100%);
      background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 199, 232, 0.65) 100%); }
    footer div.row1 div.sub [class*="sub-row-"] {
      width: 100%;
      height: 70px;
      margin: 0 auto; }
      footer div.row1 div.sub [class*="sub-row-"] .sub-col1 {
        float: left;
        width: 30%;
        min-height: 1px; }
      footer div.row1 div.sub [class*="sub-row-"] .sub-col2 {
        float: left;
        width: 70%;
        min-height: 1px; }
  footer .row2 > div.pos-center {
    background-color: #252726;
    color: white;
    width: 100%;
    height: 50px;
    text-align: center;
    margin: 0 auto; }